.main {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}

.main-content h1 {
  margin: 3rem;
  /* margin-top: 3rem; */
  font-size: xx-large;
}

.card-container h1 {
  margin: 3rem;
  font-size: xx-large;
}

.cards-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-content h1 {
  margin: 3rem 0 2rem;
  font-size: xx-large;
}

.filters-container {
  display: flex;
  align-items: center;
}

.filters-container select {
  margin: 0 1.5rem;
}

.filters-container input, .filters-container select {
  padding: 0.3rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  min-height: 600px;
  margin: 2rem 0;
}

.card {
  margin: 0 0 1.5rem 0;
}

.cards-container button {
  background-color: rgba(33, 33, 232, 0.89);
  color: aliceblue;
  margin: 0.5rem 0 ;
  padding: 0.5rem;
  width: 5rem;
}
