.main {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}

.main-content h1 {
  font-size: xx-large;
  margin: 3rem;
}

.card-container h1 {
  font-size: xx-large;
  margin: 3rem;
}

.cards-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cards-content h1 {
  font-size: xx-large;
  margin: 3rem 0 2rem;
}

.filters-container {
  align-items: center;
  display: flex;
}

.filters-container select {
  margin: 0 1.5rem;
}

.filters-container input, .filters-container select {
  padding: 0.3rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  min-height: 600px;
  width: 90%;
}

.card {
  margin: 0 0 1.5rem;
}

.cards-container button {
  background-color: rgba(33, 33, 232, 0.89);
  color: aliceblue;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 5rem;
}
